/stack_overflow_client/node_modules
/stack_overflow_client/.env

/stack_overflow_server/node_modules
/stack_overflow_server/.env

/stack_overflow_server/functions/node_modules
/stack_overflow_server/functions/.env
