.auth_leftcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    min-height: 480px;
    width: 50%;
    min-width: 300px;
}

.auth_leftcontainer_div{
    padding-left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 270px;
    max-width: 350px;
}

.auth_rightcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float:right;
    width: 50%;
}

.login_container{
    width: 70%;
    min-width: 280px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    
}

.login_container_div{
    display: flex;
    flex-direction: column;
    width: calc(80% - 10px);
    padding: 10px 5px;
    min-width: 260px;
    max-width: 300px;
    align-items: center;
    justify-content: center;
}


.login_top{
    margin-bottom: 20px;
}

.login_thirdparty{
    width: calc(100% - 20px);
    border-radius: 5px;
    max-width: 280px;
    background-color: aquamarine;
    margin: 5px 5px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    height: 25px;
    cursor: pointer;
    font-size: 13px;
}

.login_thirdparty:hover{
    background-color: #47aaf5;
}



.login_thirdparty_icon{
    display: block;
    width: 15px;
    margin: 0 5px;
    padding: 5px 5px;
    height: 15px;
}


.login_bottom{
    border-radius: 10px;
    width: calc(80% - 40px);
    padding: 25px 10px;
    background-color: rgb(236, 233, 238);

}

/* .form_title{
    font-size: 25px;
    margin: 5px 5px;
}

.form_field{
    margin: 4px 0;
    width: calc(100% - 25px);
    display: flex;
    flex-direction: column;
}

.form_label{
    text-align: left;
    width: 100%;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
}

.form_forgot_label{
    display: flex;

}

.form_input{
    font-size: x-small;
    padding: 5px 5px;
    font-size: medium;
}

.form_button{
    text-align: center;
    width: calc(100% - 25px);
    padding: 4px 0;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #0A95FF;
    cursor: pointer;
}

.form_forgot{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: x-small;
    cursor: pointer;
}

.form_button:hover{
    background-color: #47aaf5;
} */



@media  screen and (max-width:1123px) {
    .auth_leftcontainer{
        min-width:calc(100%);
        min-height: 250px;
        margin-bottom: 30px;
    }

    .login_container{
        min-height: 300px;
    }

    .auth_rightcontainer{
        min-width:calc(100%);
    }
}

